@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$desktop = 1600px
$laptop = 1100px
$tablet = 768px
$mobile = 400px

// Colors
$back ?= rgb(238,230,219)
$primary ?= #fff
$secondary ?= rgb(122,115,105)
$accent ?= rgb(91,86,78)

// Metrics
$padding = 10px

// CSS Reset
global-reset()

webfont('D', 'D', true, 'normal')
webfont('DI', 'DI', true, 'normal')

body,html
	width 100%
	height 100%
	background-color $back
	-webkit-text-size-adjust 100%

html
	font-size 62.5%
	
body
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'D'
	font-size 1.4rem
	color $secondary

p
	margin-bottom 1rem
	line-height 1.6em

.italic, em
	font-family 'DI'

h1
	font-size 1.5vw
	margin 3em 0 1em 0
	+below($tablet)
		font-size 4.5vw

h1:first-child
	margin-top 0

.uppercase, h1, h2
	hideselect()
	text-transform uppercase
	letter-spacing .8em
	margin-left .4em
	+below($mobile)
		letter-spacing .4em

::selection
	background $back
	
::-moz-selection
	background $back

*
	box-sizing()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.loader
	hideselect()
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $back
	background-size 15px
	z-index 10000

img.lazyimg, .content.fullscreen, .plyr, figcaption
	transition(opacity, 500ms)

img.lazyimg, .content.fullscreen, .plyr, figcaption
	opacity 0

img.lazyimg.lazyloaded, img.lazyimg.flickity-lazyloaded, .content.fullscreen.lazyloaded, .plyr.plyr--ready, img.lazyimg.lazyloaded + figcaption
	opacity 1

header
	position fixed
	width 100%
	top 0
	left 0
	text-align center
	padding 5rem 0
	z-index 300
	pointer-events none
	hideselect()
	+below($tablet)
		+landscape()
			z-index 200
	#site-title
		font-size 1.5vw
		padding 0 5%
		letter-spacing .5em
		+below($tablet)
			font-size 4.5vw
		a
			pointer-events auto
		img
			display inline-block
	#menu
		padding-top 2em
		#index, #contact
			display inline-block
			pointer-events auto
			cursor pointer
			margin 0 .25em

#navigation
	transition(all, 1s)
	opacity 0
	visibility hidden
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background rgba(238,230,219,0.8)
	padding 0 20%
	z-index 200
	flexbox()
	justify-content center
	align-items center
	hideselect()
	pointer-events none
	nav
		font-size 2.55vw
		line-height 1.4em
		+below($laptop)
			font-size 3.1vw
		+below($tablet)
			font-size 2.5rem
		+below(350px)
			font-size 2.2rem
		ul
			text-align center
			li
				display inline-block
				opacity 0
				transform(translateY(25%))
				transition(all, 700ms)
				backface-visibility hidden
			for num in (1..15)
				li:nth-child({num})
					vendor(transition-delay, 700+70*(num - 1) ms)
			li.clear
				width 100%
			li a
				transition(color, 600ms)
			li a:hover
				color $accent
				//transform(scale(1.02) translateZ(0))

#navigation.visible
	opacity 1
	visibility visible
	pointer-events auto
	nav
		li
			opacity 1
			transform(translateY(0%))

#container
	opacity 1
	transition(opacity, 0.5s)
	+below($tablet)
		span(1)
		padding 16rem 1.5rem 1.5rem

.slider.slides.nav-next
	cursor url('../../images/arrow-right.svg') 16 16, url('../../images/arrow-right.png') 16 16, e-resize

.slider.slides.nav-prev
	cursor url('../../images/arrow-left.svg') 16 16, url('../../images/arrow-left.png') 16 16, w-resize

.slider
	width 100%
	hideselect()
	+above($tablet+1)
		height 100vh
		overflow hidden
	.flickity-viewport
		+below($tablet)
			overflow initial
	.flickity-slider
		transform(none !important)
		+below($tablet)
			transform(none !important)
			position initial
	.cell
		width 100%
		+below($tablet)
			margin-bottom 3rem
			position initial !important
		+above($tablet+1)
			height 100%
			margin-bottom 0
			flexbox()
			justify-content center
			align-items center
		.content
			height 100%
			width auto
			+below($tablet)
				position initial
				width 100%
				height auto !important
				margin-left 0 !important
			img
				width auto
				height 100%
				+below($tablet)
					width 100%
					height auto
		.content.video
			height auto
			cursor auto
			+below($tablet)
				width 100% !important
		.content.fullscreen, .content.contain
			background-position center
			background-repeat no-repeat
			width 100%
			height 100%
			+below($tablet)
				background none !important
			img
				display none
				+below($tablet)
					display block
		.content.fullscreen
			background-size cover
		.content.contain
			background-size contain
		.caption
			text-align center
			width 100%
			+below($tablet)
				padding 0 20%
				margin-top 1rem
			+above($tablet+1)
				position absolute
				z-index 100
				width 34%
				bottom 5rem
				left 50%
				margin-left -17%
		.caption.light
			+above($tablet + 1)
				color $back

.slider.slides
	.cell
		left 0 !important
		visibility hidden
		opacity 0
		transition(all, 500ms)
		//z-index -1
		+below($tablet)
			opacity 1
			visibility visible
			//z-index 0
	.cell.is-selected
		opacity 1
		visibility visible
		//z-index 0

#flattoggle
	transition(all, 600ms)
	position fixed
	top 5rem
	right $padding*2
	border-bottom 1px solid rgba(122, 115, 105, 0.5)
	transform(translate3d(0,0,0))
	cursor pointer
	z-index 100
	font-family 'DI'
	+below($tablet)
		display none
#flattoggle::after
	content 'Pages'

#flatplan
	hideselect()
	position absolute
	transition(all, 600ms)
	transform(translate3d(100%,0%,0%))
	top 0
	right -17px
	z-index 100
	height 100vh
	min-width 270px
	overflow-y scroll
	//background rgba(122,115,105,0.9)
	background rgba(217, 206, 191, 0.85)
	padding 5rem 75px 5rem 75px
	//box-shadow(10px 0px 30px 10px rgba(0, 0, 0, 0.4))
	+below($tablet)
		display none
	.thumbnail
		display block
		float left
		margin-bottom 1em
		figure
			margin 0
			padding 0
			img
				width 60px
				height auto
				cursor pointer
		figcaption
			position relative
			font-size 0.7em
			text-align left
			color $accent
			margin-top 0.3em
			padding 0 1em
	.thumbnail:nth-child(1)
		clear both
		float right
	.thumbnail:nth-child(2n)
		clear both
		figcaption
			text-align right
	.thumbnail:nth-child(2n+1):not(:nth-child(1)) figcaption::before
		content '\002014'
		position absolute
		left -0.5em

body.flatplan-active
	#flatplan
		transform(translate3d(0%,0%,0%))
	#flattoggle
		transform(translate3d(-268px,0,0))
	#flattoggle::after
		content 'Close'

body.album
	+above($tablet + 1)
		overflow hidden

body.page
	#container
		+above($tablet+1)
			flexbox()
			justify-content center
			align-items center
			min-height 100vh
		.inner
			padding 0 35%
			text-align center
			+below($tablet)
				padding 0
			figure
				margin 0
			img
				max-width 70%
				margin 0 auto
				height auto

body.leaving
	#navigation
		opacity 0
		transition(opacity, 1s)
		//vendor(transition-delay, 0.5s)
	#container
		opacity 0

.no-svg
	.thumbnail.layout
		display none